
<!-- slider -->
<div class="slider-slick app-pages">
	<div class="slider-entry">
		<img src="img/Season3Flyer.png" alt="">
		<div class="overlay"></div>
		<div class="caption">
			<div class="container">
				<h2>Playercup Season 3 is here!</h2>
				<p>After the successfull season 2, we are back again.. </p>
				<a id="introReadBtn" class="button" href="intro">Read More</a>
			</div>
		</div>
	</div>
	<div class="slider-entry">
		<img src="https://i.imgur.com/hwdv5RLl.jpg" alt="">
		<div class="overlay"></div>
		<div class="caption">
			<div class="container">
				<h2>Football Distribution</h2>
				<p>We at players cup distribute footballs.. </p>
				<a id="galleryBtn" class="button" href="gallery">Go to gallery</a>
			</div>
		</div>
	</div>
</div>
<!-- end slider -->

<!-- latest news -->
<div class="latest-news app-section">
	<div class="container">
		<div class="app-title">
			<h4>Latest News</h4>
			<div class="line"></div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="entry">
					<a href="intro"><img src="https://i.imgur.com/TOMgtJub.png" alt=""></a>
					<div class="content">
						<h6><a href="intro">Playercup Season 3 is here!</a></h6>
						<span>24 Nov 2018</span>
						<p>After the successfull season 2, we are back again..</p>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="entry">
					<a href="gallery"><img src="https://i.imgur.com/hwdv5RLb.jpg" alt=""></a>
					<div class="content">
						<h6><a href="gallery">Football Distrubition</a></h6>
						<span>7 Aug 2017</span>
						<p>We at players cup distribute footballs..</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row not-margin">
			<div class="col s6">
				<div class="entry">
					<img src="img/news3.png" alt="">
					<div class="content">
						<h6><a href="">Top 10 Goals 2017</a></h6>
						<span>2 Dec 2016</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="entry">
					<img src="img/news4.png" alt="">
					<div class="content">
						<h6><a href="">Top 10 Stadiums</a></h6>
						<span>2 Dec 2016</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
<!-- end latest news -->

<!-- latest result -->
<div class="latest-result app-section app-section-top">
	<div class="container">
		<div class="app-title">
			<h4>Latest Result</h4>
			<div class="line"></div>
		</div>
		{{#each this.results}}
		<ul class="club-title">
			<li>{{team1}}</li>
			<li>{{team1Score}}</li>
			<li>:</li>
			<li>{{team2Score}}</li>
			<li>{{team2}}</li>
		</ul>
		<ul class="date">
			<li>{{displayDate}}</li>
		</ul>
		{{/each}}
	</div>
</div>
<!-- latest result -->

<!-- latest match -->
<div class="latest-match app-section app-bg-dark">
	<div class="container">
		<div class="app-title">
			<h4>Latest Match</h4>
			<div class="line"></div>
		</div>
		{{#each this.fixtures}}
		<ul class="club-title">
			<li>{{team1}}</li>
			<li>VS</li>
			<li>{{team2}}</li>
		</ul>
		<ul class="date">
			<li>{{displayDate}}</li>
		</ul>
		{{/each}}
	</div>
</div>
<!-- latest match -->

<script type="text/javascript">
<{{!}}/script>

