<!-- result -->
<div class="result app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Result</h3>
		</div>
		<div class="entry">
			{{#each this.data}}
            <span class="grey-text text-darken-4">{{moment @key "dddd D MMMM"}}</span>
            	<div class="blue-grey darken-1">
            	<ul class="collapsible" data-collapsible="accordion">
                    {{#each this}}
                        <li>
                        <div class="collapsible-header blue-grey darken-1 white-text">
                            <ul class="club-title">
	                            <div class="row">
	                          		<div class="col s5">{{team1}}</div>
                                <div class="col s1">{{team1Score}}</div>
                                <div class="col s1">{{team2Score}}</div>
	                          		<div class="col s5">{{team2}}</div>
	                          	</div>
                            </ul>
                          </div>
                          <div class="collapsible-body grey lighten-5" style="display: none;">
                          {{#gte team1Goals.length team2Goals.length}}
                          	{{#forEach  team1Goals}}
                          	<div class="row">
                          		<div class="col s6">{{player.name}}  <i class="fa fa-futbol-o"></i></div>
                          		<div class="col s6">{{#with (lookup ../team2Goals @index)}} {{#if player.name}} {{player.name}}  <i class="fa fa-futbol-o"></i> {{/if}} {{/with}}</div>
                          	</div>
                          	{{/forEach}}
                          	{{else}}
                          	{{#each  team2Goals}}
                          	<div class="row">
                          		<div class="col s6">{{#with (lookup ../team1Goals @index)}} {{#if player.name}} {{player.name}}  <i class="fa fa-futbol-o"></i> {{/if}} {{/with}}</div>
                          		<div class="col s6"><i class="fa fa-futbol-o"></i>  {{player.name}}</div>
                          	</div>
                          	{{/each}}
                          {{/gte}}
                        </li>
                    {{/each}}
                    </ul>
                </div>
            {{/each}}
		</div>
	</div>
</div>
<!-- end result -->