<!-- standings -->
<div class="standings app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Standings</h3>
		</div>
		<table id="standings-table" class="striped tablesorter">
        <thead class="blue-grey darken-1 white-text">
          <tr>
          	  <th data-field="id">#</th>
              <th data-field="name">Team</th>
              <th data-field="name">M</th>
              <th data-field="name">W</th>
              <th data-field="name">D</th>
              <th data-field="name">L</th>
              <th data-field="name">GF</th>
              <th data-field="name">GA</th>
              <th data-field="name">P</th>
          </tr>
        </thead>

        <tbody>
        {{#each this.data}}
          <tr>
          	<td>{{sum @index 1}}</td>
            <td>{{team}}</td>
            <td>{{sum won drawn lost}}</td>
            <td>{{won}}</td>
            <td>{{drawn}}</td>
            <td>{{lost}}</td>
            <td>{{gFor}}</td>
            <td>{{gAgainst}}</td>
            <td>{{points}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function()
	    {
	        $("#standings-table").tablesorter();
	    }
	);
<{{!}}/script>
<!-- end standings -->